body {
	background: url(../img/background.jpg);
}

#container {
	margin: auto;
	padding: 5px;
	max-width: 1112px;
}

header img {
	display: block;
	margin: 0 auto;
}

header .header-title {
	height: 40px
}

header .header-line {
	width: 350px;
}

.gallery {	
	text-align: left;
}

.gallery .item {
	display: inline-block;
	background: #fffed6;
	border: 1px solid #e8e395;	
	margin: 5px;
	padding: 10px 10px 0px;
	text-align: center;
	vertical-align: top;
	height: 250px;
	width: 150px;
	position: relative;
}

.item img {
	border: 2px solid black;
	max-width: 146px;
	max-height: 176px;
}

.item p {
	position: absolute;
	margin: 0;
	padding: 0;	
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 72px;
	text-overflow: ellipsis; 
	overflow: hidden; 
}